body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .feedback-form {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
  }
  
  .feedback-form legend {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .submit-btn {
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  